# Directory Management
directory = /downloads/
session = /config/rtorrent/rtorrent_sess

# Log file management
log.open_file = "rtorrent", /config/rtorrent/log/rtorrent.log
log.add_output = "info", "rtorrent"
log.add_output = "critical", "rtorrent"
log.add_output = "error", "rtorrent"
log.add_output = "warn", "rtorrent"

# General Parameters
check_hash = no
dht = off
system.umask.set = 002
encoding_list = UTF-8

# Network parameters
max_memory_usage = 4096M
max_downloads_global = 0
max_uploads_global = 0
min_peers = 20
max_peers = 150
min_peers_seed = -1
max_peers_seed = -1
max_uploads = 50
download_rate = 0
upload_rate = 0
port_random = no
port_range = 51415-51415
encryption = allow_incoming, try_outgoing, enable_retry
trackers.use_udp.set = yes
dht.mode.set = off
protocol.pex.set = no
bind = 0.0.0.0

# Allow rTorrent to consume 4GB of memory.
pieces.memory.max.set = 4096M

# tuning parameters
pieces.preload.type.set = 1

# General watch directory
schedule2 = watch_start, 10, 10, ((load.start_verbose, (cat, (cfg.watch), "/config/rtorrent/watch/*.torrent")))

# Stop seeding when .torrent from watch file is deleted
schedule = untied_directory,5,5,stop_untied=

# Pause torrents when free space is only 1GB 
schedule = low_diskspace,5,60,close_low_diskspace=1024M

# Configure rTorrent's SCGI port
scgi_port = 127.0.0.1:5000
